
.setbg {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: initial;
  background-clip: initial;
}

.text-shadow-xs {
  text-shadow: 0 0 2px #000;
}

.text-shadow-sm {
  text-shadow: 0 0 6px #000;
}

.text-shadow-md {
  text-shadow: 0 0 5px #000;
}

.text-shadow-lg {
  text-shadow: 0 0 6px #000;
}

.text-shadow-xl {
  text-shadow: 0 0 9px #000;
}


.slide-up {
  animation: slide-up 1s;
}
@keyframes slide-up {
  0% {
    transform: translatey(100%);
    opacity: 0;
  }
  100% {
    transform: translatey(20%);
    opacity: 1;
  }
}

.slide-down {
  animation: slide-down 1.2s;
}

@keyframes slide-down {
  0% {
    transform: translatey(-100%);
    opacity: 0;
  }
  100% {
    transform: translatey(20%);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 1.2s;
}
  /*
.moon {
 border-top: 20px solid rgb(182, 155, 3);
  border-right: 2px solid rgb(182, 155, 3);
  border-left: 2px solid rgb(182, 155, 3);
  padding: 10px 50px;
  border-radius: 60%;
  box-shadow: inset 0 30px 30px .1px rgb(154, 108, 0), 0 -8px 2px .1px rgb(154, 108, 0);
} */

@keyframes zoomIn {
  0% {
    transform: scaley(0%);
  }
  100% {
    transform: scaley(100%);
  }
}

.fade-in {
  animation: fadeIn 1.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-glass {
  background-color: rgba(16, 35, 28, 0.13);
}

.bg-glass-tick {
    background-color: rgba(84, 104, 92, 0.493); 
}

.inner-shadow {
  box-shadow: inset 0 0 10px 2px rgba(193, 206, 193, 0.231);
}

.inner-shadow-lg {
  box-shadow: inset 0 0 10px 5px rgba(193, 206, 193, 0.231);
}

.position-fixed {
  position: static;
}

.bg-transparent-sm {
  background-color: rgba(11, 12, 12, 0.985);
}

/* .inner-shadow-xl {
  transition: all 1s;
  box-shadow: inset 0 0 25px 8px rgba(193, 206, 193, 0.231);
} */
.inner-shadow-lg:hover {
  transition: all .1s;
  box-shadow: inset 0 0 25px 8px rgba(193, 206, 193, 0.231);
}